*{
  margin: 0;
  padding: 0;
}
a {
	text-decoration: none;
}
.menu-list li:hover {
  cursor: pointer;
  color: rgb(72, 127, 155) !important;
}

ul {
  list-style: none;
}
.nav-top {
  height: 50px;
}
body {
  background: #eee;
}

.navbar-fixed-top {
  border: none;
  background: url("/images/bg.jpg") no-repeat 0 -1000px;
}
.navbar-brand {
  font-size: 23px;
  color: #fff !important;
}
.link-index {
  margin-top: 8px;
  margin-left: 18px;
}
.loginOut {
  margin-top: 8px;
  margin-right :10px;
}
.row {
  margin-top: 20px;
  margin-right:0px;
  margin-left: -10px;
  height: 100%; 
}
.menu {
  height: 50px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 30px;
  background: rgb(14, 127, 185);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.menu-list {
  height: 400px; 
  border: 1px solid rgb(105, 180, 218);
  font-size: 16px;
  padding-left: 30px;
  background: rgb(242, 249, 253);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}
.menu-list li {
  height: 40px;
  line-height: 40px;
}
.menu-list li a {
  color: rgb(27, 27, 27);

}
/* .rightbox {
  display: none;
} */
.web-info, .content-list, .modify-title {
  font-size: 15px;
  font-weight: bold;
}
.btn-add {
  font-size: 15px;
  font-weight: bold;
  width: 65px;
  height: 35px;
}
.content-tab {
  margin-top: 15px;
  text-align: center;
}

.content-tab thead tr th {
  text-align: center;

}
.content-tab tbody tr {
  height: 77px;
}
.content-tab tbody tr td {
  line-height: 77px !important;

}
.success-popout {
  width: 700px;
  height: 40px;
  margin: 10px auto;
  text-align: center;
  line-height: 10px;
  font-size: 15px;
  font-weight: 600;
}
.success-popout .close {
  top: -5px;
}